.vscode/settings.json
.idea/*
cmake-build-debug/
cmake-build-release/
adafruit/*.o
adafruit/*.obj
adafruit/*.exe
adafruit/*.exp
adafruit/*.lib
adafruit/*.dSYM
adafruit/.DS_Store
adafruit/info.plist
pimoroni/*.o
pimoroni/*.obj
pimoroni/*.exe
pimoroni/*.exp
pimoroni/*.lib
pimoroni/*.dSYM
pimoroni/.DS_Store
pimoroni/info.plist
font/*.o
font/.DS_Store
framebuffer/*.o
framebuffer/.DS_Store
bme280/*.o
bme280/*.obj
bme280/*.exe
bme280/*.exp
bme280/*.lib
bme280/*.dSYM
bme280/.DS_Store
bme280/info.plist
bme68x/*.o
bme68x/*.obj
bme68x/*.exe
bme68x/*.exp
bme68x/*.lib
bme68x/*.dSYM
bme68x/.DS_Store
bme68x/info.plist
emc2101/*.o
emc2101/*.obj
emc2101/*.exe
emc2101/*.exp
emc2101/*.lib
emc2101/*.dSYM
emc2101/.DS_Store
emc2101/info.plist
lc709203f/*.o
lc709203f/*.obj
lc709203f/*.exe
lc709203f/*.exp
lc709203f/*.lib
lc709203f/*.dSYM
lc709203f/.DS_Store
lc709203f/info.plist
tlv493d/*.o
tlv493d/*.obj
tlv493d/*.exe
tlv493d/*.exp
tlv493d/*.lib
tlv493d/*.dSYM
tlv493d/.DS_Store
tlv493d/info.plist
mcp2221a/*.o
mcp2221a/*.obj
mcp2221a/*.exe
mcp2221a/*.exp
mcp2221a/*.lib
mcp2221a/*.dSYM
mcp2221a/.DS_Store
mcp2221a/info.plist
pisugar3/*.o
pisugar3/.DS_Store
ssd1306/*.o
ssd1306/.DS_Store
io/*.obj
io/.DS_Store
*.o
.DS_Store
adafruit/adafruit_seesaw
adafruit/seesaw_gpio
adafruit/seesaw_encoder
adafruit/seesaw_neopixel
adafruit/neokey1x4
adafruit/neorotary
adafruit/neorotary1x4
adafruit/neoslider
bme280/bme280
bme68x/bme68x
emc2101/emc2101
lc709203f/lc709203f
tlv493d/tlv493d
pimoroni/buttonshim
pisugar3/pisugar3
ssd1306/ssd1306
mcp2221a/scan_i2c_hid
adafruit/neokey1x4_i2c_hid
adafruit/neorotary_i2c_hid
adafruit/neorotary1x4_i2c_hid
adafruit/neoslider_i2c_hid
bme280/bme280_i2c_hid
bme68x/bme68x_i2c_hid
emc2101/emc2101_i2c_hid
pimoroni/buttonshim_i2c_hid
tlv493d/tlv493d_i2c_hid
